services:
  mongo:
    image: mongo:8.2
    container_name: cotm-mongo
    restart: always
    ports:
      - 27017:27017
    volumes:
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
