<div class="row">
  <div class="login jumbotron center-block col">
    <h1>Login</h1>
    <form role="form" (submit)="login($event, username.value, password.value)">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" #username class="form-control" id="username" placeholder="Username">
        <small id="usernameEmpty" class="form-text" style="color:red"></small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" #password class="form-control" id="password" placeholder="Password">
        <small id="passwordEmpty" class="form-text" style="color:red"></small>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
      <!--<a [routerLink]="['/signup']">Click here to Signup</a>-->
    </form>
  </div>
  <div class="col vertical-center">
    <img class="image vertical-center" src="RJBlogoLongo.png" alt="">
  </div>
</div>
