<h2>Collected information</h2>
We only collect the information that you voluntarily share with us.
<br />
Except for your email address, every piece of information we collect is entirely optional and is not required to use the platform.
<br />
No data is collected during your platform utilisation, such as log, cookie or device data.
<br />
<br />

<h2>How we use your information</h2>
The information you share with us will only be used by us to keep in contact with you.
<br />
The information will never be shared or sold with any third parties.
<br />
<br />

<h2>For how long do we keep your information</h2>
The information collected will be kept for as long as your account remains active.
<br />
Once your account is deleted so is all your information.
<br />
<br />
