charterturinmonitor.raimundobranco.com {

    handle_path /outpost.goauthentik.io/\* {

        reverse_proxy authentik-proxy:9000 {
            header_up Host {host}
        }
    }

    forward_auth authentik-proxy:9000 {
        uri /outpost.goauthentik.io/auth/caddy

        copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Email X-Authentik-Name
    }

    reverse_proxy cturin-app:8080

}
