<mat-accordion class="headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Edit Profile Details
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="editDetailsForm" (ngSubmit)="editDetails(editDetailsForm)" autocomplete="off">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" value="{{ name }}" autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phone" value="{{ phone }}" autocomplete="off">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address" value="{{address}}"></textarea>
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="primary" type="submit" [disabled]="!editDetailsForm.valid">Edit Details</button>
      </mat-action-row>
    </form>
  </mat-expansion-panel>

</mat-accordion>